@font-face {
  font-family: "胡晓波男神体";
  src: url("../font/胡晓波男神体.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  font-family: "胡晓波男神体";
}
